
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ajax</title>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    
</head>
<body>
    <div>
        <input type="button" name="btnAjax"  id="btnAjax" value="ajax" />
        <input type="text" id="txtVal" name="txtVal" />

    </div>
    <script type="text/javascript">
        $(document.body).on("click", "#btnAjax", function () {
            $.ajax({
                type: "GET",
                url: "/default/info/",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(),
                success: function (data) {
                    $("#txtVal").val(data.name);

                }

            });
        });

    </script>
</body>
</html>
